<tr>
  <td class="gravatar">

     <td>  <%= image_tag feed_item.avatar.url , size: "100x80" %></td>

  </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.title, feed_item.title %>
      <%= feed_item.a_comments %>
    </span>
   </td>
  <td class="micropost">
    <span class="user">
      <%= link_to feed_item.title, feed_item.title %>
    </span>
   </td>


</tr>