
<link href="http://v3.bootcss.com/assets/css/docs.min.css" rel="stylesheet">
<div class="jumbotron masthead">
  <div class="container">
    <h1>关于</h1>
    <h3>它是一个聚合类型的站点，作者希望可以把tumblr和instagram的优秀内容聚合并且展现给喜爱他们的用户。</h2>
    <p class="masthead-button-links">
          <%= link_to "关于作者",   about_me_path %>

    </p>
 
  </div>
</div>