
<link href="http://v3.bootcss.com/assets/css/docs.min.css" rel="stylesheet">

<h2>介绍</h2>
<ul>
	<li>姓名： 曾辉</li>
	<li>年龄： 25</li>
	<li>城市： 北京 石家庄</li>
	<li>常用 Email： <a href="mailto:zenghui515@foxmail.com">zenghui515@foxmail.com</a> </li>
	<li>Site Email： <a href="mailto:zenghui@yuenvshen.com">zenghui@yuenvshen.com</a></li>	
	<li>Home： <a href="https://www.yuenvshen.com/">https://www.yuenvshen.com/</a></li>
	<li>Github： <a href="https://github.com/zhzenghui">@zhzenghui</a></li>
	<li>Github IO： <a href="http://zhzenghui.github.io">http://zhzenghui.github.io/</a>(暂时还没有有用的内容)</li>
</ul>

<h2>技能</h2>
<ul>
	<li>4年的 Objective-C 开发经验，熟悉iOS OS X的应用开发;</li>
	<li>熟悉OS X, Linux 环境下的开发;</li>
	<li>半年的Linux服务器维护经验（非正式产品）;</li>
	<li>1年的Ruby后端开发经验， 1 年 Asp.NET (C#) 开发经验;</li>
	<li>熟悉 MySQL,SQL Server, Redis 等数据库;</li>
	<li>熟悉 Git, SVN;</li>
	<li>熟悉 HTML、CSS、Javascript</li>
	<li>略懂 UI, UE，熟练使用 Photoshop;</li>
	<li>熟悉 Sublime Text， TextMate;</li>
</ul>

<h2>经历</h2>


<ul>
	<li>2008年在石家庄信息工程职业学院，学习.Net，熟悉Asp.Net的开发和Windows Server的配置。</li>
	<li>2010年10月加入石家庄银康科技实习并正式加入，刚加入时主要适用vb.Net开发工作，在一次工作调动中，进入了iOS开发组，参与enmpass客户端开发。</li>
	<li>2012年2在北京金溪欣，在这里做了一个起亚某款车的App，大部分的时间都在维护和协助其他人员的App开发工作。合同到期后，决定离开。</li>
	<li>2013年5月加入中视博桥，iOS技术负责人，期间做过10多个项目（琨庭，东易日盛（团队），东方百盛，设计师（公司产品），汉诺地板，实创（实小创，设计师，客户）朗斯等多个产品）一直到现在。</li>

</ul>

<h2>work</h2>
<ul>
	<li>作品： <a href="https://file.i-bejoy.com/apps.html">https://file.i-bejoy.com/apps.html</a></li>
	<li>App Store: <a href="https://itunes.apple.com/us/artist/feng-lee/id595313852">https://itunes.apple.com/us/artist/feng-lee/id595313852 （这是公司的账号） </li>

</ul>