
<br />

<footer>
  <p class="pull-right"><%= link_to "关于",   about_path %></p>
  <p>© 2014 月 · 京ICP备14025431号 <a href="http://zhanzhang.anquan.org/physical/report/?domain=www.yuenvshen.com" name="gr4JpHqLFAcRkWNIddEe14PtVjSy0jhmp9IcUPtYMzJbCqZoFP"><img height="47" src="http://zhanzhang.anquan.org/static/common/images/zhanzhang.png"alt="安全联盟站长平台" /></a></p>

</footer>